doctype html
html
	head
		meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title
		meta(description='' content='')
		meta(keywords='' content='')
		link(rel="stylesheet" href="css/screen.css")
		link(rel='icon', href='/favicon.ico')
	body.index
		header
			block header
		.menu
			.inner
				block menu
		.content
			.inner
				block leftMenu
				.maincol
					block breadcrumb
						.breadcrumbs
							ul.breadcrumbs__list
								li.breadcrumbs__item
									a.breadcrumbs__link(href="/") Главная
								block PageBread
									li.breadcrumbs__item Сюда пишем свою страницу (или блок страниц)
					.content__text
						block content
		footer
			block footer
		//- кнопка scrollup, которая выполняет функцию "Наверх", работает со скриптом scrollup.js
		#scrollup
		.overlay
		
		//- подключение jquery 1.12.2
		script(src="js/jquery.min.js")
		//- подключение слайдера (отключаем, если не нужен)
		script(src="js/jquery.bxslider.min.js")
		//- подключение галереи Touch (отключаем, если не нужен)
		script(src="js/touch.js")
		//- Подключение адаптивного мобильного меню (отключаем, если не нужен)
		script(src="js/mobileMenu.js")
		//- подключение скрипта, который выполняет Scroll вверх на кнопку
		script(src="js/scrollup.js")
		//- подключение файла скриптов
		script(src="js/scripts.js")
