block header
  .header__top
    .inner
      span.toggle.js-toggle
        span.toggle__line--wrapper
          em.toggle__line--first
          em.toggle__line--two
          em.toggle__line--three
  .inner
    .header__logo.logo
      a(href="/"): img(src="img/template/logo.png")
    nav.header__menu
      ul.header__menu--list
        - list = ["О компании", "Наши проекты", "Акции", "Кредит", "Статьи", "Контакты"]
        each item in list
          li.header__menu--item
            a.header__menu--link(href="#") #{item}
    .header__phone.phone-block
      a.phoneblock__number.phone(href="tel:+79312351443") +7 (831) 235-14-43
      a.phone-block__callback.callback(href="#") Обратный звонок