block header
  .header__top
    .inner
      span.toggle.js-toggle
        span.toggle__line--wrapper
          em.toggle__line--first
          em.toggle__line--two
          em.toggle__line--three
  .inner
    .header__logo.logo
      a(href="/"): img(src="img/template/logo.png")
    a.header__phone(href="tel:+74953693003") +7 (495) 369-30-03 
    button.header__callback Перезвоните мне