block menu
  nav.main-menu
    ul.menu__list
      - list = ["Бани", "Дачные дома", "Коттеджы","Дома из камня", "Строительные материалы", "Винтовые сваи"]
      each item in list
        li.menu__item
          a.menu__link(href="#") #{item}
  button.order рассчитать проект