block not_found
	.not_available
		img(src="img/template/404.png" alt="страница не найдена")
		p К сожалению, такая страница не найдена или просто не существует.
		p Попробуйте вернуться на 
			a(href="/") главную
		| или воспользуйтесь поиском.